#### API task

##### Subtask 1

In [1]:
import requests
import pandas as pd

In [2]:
df = pd.DataFrame(requests.get('https://api.spacexdata.com/v3/capsules').json())

number_of_each_type_df = df.groupby(['type'])['capsule_serial'].count()
number_of_each_type_df

type
Dragon 1.0    4
Dragon 1.1    9
Dragon 2.0    6
Name: capsule_serial, dtype: int64

##### Subtask 2

In [3]:
launches_df = pd.DataFrame(requests.get('https://api.spacexdata.com/v3/launches').json())

launches_df['launch_date_utc'] = pd.to_datetime(launches_df['launch_date_utc'])

launches_df['launch_date_utc'].mean()

Timestamp('2017-06-22 04:47:31.423423744+0000', tz='UTC')

##### Subtask 3

In [4]:
df = pd.DataFrame(requests.get('https://api.spacexdata.com/v3/capsules').json())

df[df['original_launch'].isna()][['type','capsule_id', 'capsule_serial']]

          type capsule_id capsule_serial
16  Dragon 2.0    dragon2           C202
17  Dragon 2.0    dragon2           C203
18  Dragon 2.0    dragon2           C204

##### Subtask 4

In [5]:
launches_df = pd.DataFrame(requests.get('https://api.spacexdata.com/v3/launches').json())
capsules_df = pd.DataFrame(requests.get('https://api.spacexdata.com/v3/capsules').json())

merged_df = launches_df.merge(capsules_df, left_on='launch_date_utc', right_on='original_launch', how='left')

merged_df

,flight_number,mission_name,mission_id,upcoming,launch_year,launch_date_unix,launch_date_utc,launch_date_local,is_tentative,tentative_max_precision,...,capsule_serial,capsule_id,status,original_launch,original_launch_unix,missions,landings,type,details_y,reuse_count
0,1,FalconSat,[],False,2006,1143239400,2006-03-24T22:30:00.000Z,2006-03-25T10:30:00+12:00,False,hour,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,DemoSat,[],False,2007,1174439400,2007-03-21T01:10:00.000Z,2007-03-21T13:10:00+12:00,False,hour,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Trailblazer,[],False,2008,1217734440,2008-08-03T03:34:00.000Z,2008-08-03T15:34:00+12:00,False,hour,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,RatSat,[],False,2008,1222643700,2008-09-28T23:15:00.000Z,2008-09-28T11:15:00+12:00,False,hour,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,RazakSat,[],False,2009,1247456100,2009-07-13T03:35:00.000Z,2009-07-13T15:35:00+12:00,False,hour,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,107,Crew-1,[EE86F74],False,2020,1605486420,2020-11-16T00:27:00.000Z,2020-11-15T19:27:00-05:00,False,hour,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,108,Sentinel-6 Michael Freilich,[],False,2020,1605979020,2020-11-21T17:17:00.000Z,2020-11-21T09:17:00-08:00,False,hour,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,109,Starlink-15 (v1.0),[],False,2020,1603553460,2020-10-24T15:31:00.000Z,2020-10-24T11:31:00-04:00,False,hour,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,110,CRS-21,[EE86F74],True,2020,1607271420,2020-12-06T16:17:00.000Z,2020-12-06T11:17:00-05:00,False,hour,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,110,SXM-7,[],True,2020,1607880600,2020-12-13T17:30:00.000Z,2020-12-13T12:30:00-05:00,False,hour,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
dragon_one = merged_df[merged_df['type'] == 'Dragon 1.0']
dragon_one

,flight_number,mission_name,mission_id,upcoming,launch_year,launch_date_unix,launch_date_utc,launch_date_local,is_tentative,tentative_max_precision,...,capsule_serial,capsule_id,status,original_launch,original_launch_unix,missions,landings,type,details_y,reuse_count
6,7,COTS 1,[EE86F74],False,2010,1291822980,2010-12-08T15:43:00.000Z,2010-12-08T11:43:00-04:00,False,hour,...,C101,dragon1,retired,2010-12-08T15:43:00.000Z,1.291823e+09,"[{'name': 'COTS 1', 'flight': 7}]",1.0,Dragon 1.0,Reentered after three weeks in orbit,0.0
7,8,COTS 2,[EE86F74],False,2012,1335944640,2012-05-22T07:44:00.000Z,2012-05-22T03:44:00-04:00,False,hour,...,C102,dragon1,retired,2012-05-22T07:44:00.000Z,1.335945e+09,"[{'name': 'COTS 2', 'flight': 8}]",1.0,Dragon 1.0,First Dragon spacecraft,0.0
8,9,CRS-1,[EE86F74],False,2012,1349656500,2012-10-08T00:35:00.000Z,2012-10-08T20:35:00-04:00,False,hour,...,C103,dragon1,unknown,2012-10-08T00:35:00.000Z,1.349656e+09,"[{'name': 'CRS-1', 'flight': 9}]",1.0,Dragon 1.0,First of twenty missions flown under the CRS1 ...,0.0
9,10,CRS-2,[EE86F74],False,2013,1362165000,2013-03-01T19:10:00.000Z,2013-03-01T15:10:00-04:00,False,hour,...,C104,dragon1,unknown,2013-03-01T19:10:00.000Z,1.362165e+09,"[{'name': 'CRS-2', 'flight': 10}]",1.0,Dragon 1.0,None,0.0

In [7]:
dragon_one_one = merged_df[merged_df['type'] == 'Dragon 1.1']
dragon_one_one

,flight_number,mission_name,mission_id,upcoming,launch_year,launch_date_unix,launch_date_utc,launch_date_local,is_tentative,tentative_max_precision,...,capsule_serial,capsule_id,status,original_launch,original_launch_unix,missions,landings,type,details_y,reuse_count
13,14,CRS-3,[EE86F74],False,2014,1397849100,2014-04-18T19:25:00.000Z,2014-04-18T15:25:00-04:00,False,hour,...,C105,dragon1,unknown,2014-04-18T19:25:00.000Z,1.397849e+09,"[{'name': 'CRS-3', 'flight': 14}]",1.0,Dragon 1.1,First Dragon v1.1 capsule,0.0
17,18,CRS-4,[EE86F74],False,2014,1411278720,2014-09-21T05:52:00.000Z,2014-09-21T01:52:00-04:00,False,hour,...,C106,dragon1,active,2014-09-21T05:52:00.000Z,1.411279e+09,"[{'name': 'CRS-4', 'flight': 18}, {'name': 'CR...",3.0,Dragon 1.1,First Dragon capsule to be reused,2.0
18,19,CRS-5,[EE86F74],False,2015,1420883220,2015-01-10T09:47:00.000Z,2015-01-10T05:47:00-04:00,False,hour,...,C107,dragon1,unknown,2015-01-10T09:47:00.000Z,1.420883e+09,"[{'name': 'CRS-5', 'flight': 19}]",1.0,Dragon 1.1,None,0.0
21,22,CRS-6,[EE86F74],False,2015,1429042200,2015-04-14T20:10:00.000Z,2015-04-14T16:10:00-04:00,False,hour,...,C108,dragon1,active,2015-04-14T20:10:00.000Z,1.429042e+09,"[{'name': 'CRS-6', 'flight': 22}, {'name': 'CR...",3.0,Dragon 1.1,Second Dragon capsule to be reused,2.0
23,24,CRS-7,[EE86F74],False,2015,1435501260,2015-06-28T14:21:00.000Z,2015-06-28T10:21:00-04:00,False,hour,...,C109,dragon1,destroyed,2015-06-28T14:21:00.000Z,1.435501e+09,"[{'name': 'CRS-7', 'flight': 24}]",0.0,Dragon 1.1,Destroyed on impact after F9 launch failure,0.0
27,28,CRS-8,[EE86F74],False,2016,1460148180,2016-04-08T20:43:00.000Z,2016-04-08T16:43:00-04:00,False,hour,...,C110,dragon1,active,2016-04-08T20:43:00.000Z,1.460148e+09,"[{'name': 'CRS-8', 'flight': 28}, {'name': 'CR...",2.0,Dragon 1.1,None,1.0
31,32,CRS-9,[EE86F74],False,2016,1468817100,2016-07-18T04:45:00.000Z,2016-07-18T00:45:00-04:00,False,hour,...,C111,dragon1,active,2016-07-18T04:45:00.000Z,1.468817e+09,"[{'name': 'CRS-9', 'flight': 32}, {'name': 'CR...",2.0,Dragon 1.1,None,1.0
35,36,CRS-10,[EE86F74],False,2017,1487515140,2017-02-19T14:39:00.000Z,2017-02-19T10:39:00-04:00,False,hour,...,C112,dragon1,active,2017-02-19T14:39:00.000Z,1.487515e+09,"[{'name': 'CRS-10', 'flight': 36}, {'name': 'C...",3.0,Dragon 1.1,None,2.0
44,45,CRS-12,[EE86F74],False,2017,1502728260,2017-08-14T16:31:00.000Z,2017-08-14T12:31:00-04:00,False,hour,...,C113,dragon1,active,2017-08-14T16:31:00.000Z,1.502728e+09,"[{'name': 'CRS-12', 'flight': 45}, {'name': 'C...",2.0,Dragon 1.1,The last newly manufactured Dragon 1,1.0

In [8]:
print(f"Avg landings for Dragon 1.0: {dragon_one['landings'].mean()}.")
print(f"Avg landings for Dragon 1.1: {dragon_one_one['landings'].mean()}.")

Avg landings for Dragon 1.0: 1.0.
Avg landings for Dragon 1.1: 1.8888888888888888.